contents.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Contents">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Content" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:string" name="user_name"/>
              <xs:element type="xs:string" name="profile_pic"/>
              <xs:element type="xs:string" name="f_name"/>
              <xs:element type="xs:string" name="l_name"/>
              <xs:element type="xs:date" name="date"/>
              <xs:element type="xs:string" name="data"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="content_id" use="required"/>
            <xs:attribute type="xs:string" name="type" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>